/* You can add global styles to this file, and also import other style files */
body{
    background-color: #04052E;
}
body{
    font-family: Inter, Roboto, "Helvetica Neue", Arial, sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:24px;
}